body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/446661.png") !important;
    background-size: 960px 360px;  
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    clear: both; 
    /* float: left; */
    position: relative;
    color: white
    /* background-color: black; */
  } 
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: white !important;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }
  
  /* header */
  
/* .bg {
    background: url("/Users/jbautista/Code/TMNT-Hangturtle-Game/assets/images/rooftop_by_emanshiu-d7uuqpo.jpg");
    position: fixed;
    width: 100%;
    height: 100%; /*same height as jumbotron */
    /* top:0;
    left:0;
    z-index: -1;
  /* } */ 
  
  #masthead {
    position: relative;;
    z-index: -1;
    width: 100%;
    margin: 0;
    overflow: auto;
    /* color: #fff;  */
    /* background:#fff; */
    /* border-bottom: 2px solid #ccc; */
    float: left;
  }
  
  #greenhead {
    color: #4aaaa5;
  
  
  }
  
  #logo {
    float: left;
    width: 400px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align:center;
    text-decoration: none;
    background: #32CD32 !important;
  }
  
  nav {
    float: left;
    margin-top: 0;
  }
  
  nav a {
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    line-height: 0;
    color: 9E13A0;
    text-decoration: none;
    border-left: 1px solid black;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    /* color: #fff; */
    color: 000000;
    text-align: center;
    /* background: #000000; */
    border-top: 4px solid #32CD32;
    height: 50px;
  }
  
  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
  /* main */
  
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    /* background: #fff; */
    border: 1px solid #ddd;
  }
  
  /* // This is for screen resizing // */
  
  /* // Extra small devices (portrait phones, less than 576px) */
  /* // No media query for `xs` since this is the default in Bootstrap */
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .main-section {
      float: none;
      width: 100%;
      margin: 0%;
      border: 0%;
      }
      .main-container {
        padding-top: 0px;
        min-height: 0px;
      }
    }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
    .main-section {
      float: none;
      width: 100%;
      margin: 0%;
      border: 0%;
      }
    }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    
  }
  /* // Marin 01 if you want to put spaces in the word  */
  /* // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... } */
  
  /* // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
  @include media-breakpoint-up(sm) { ... }
  @include media-breakpoint-up(md) { ... }
  @include media-breakpoint-up(lg) { ... }
  @include media-breakpoint-up(xl) { ... }
  // Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
  .custom-class {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    .custom-class {
      display: block;
    }
  } */